<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ログイン</title>
<link rel="stylesheet" typ="text/css" href="./css/main.css" />
</head>
<body>
<div th:replace="layout :: header"></div>

<div class="maimBody">
<div class="leftMenu">
	<h1>pepepepepe</h1>
</div>

<div class="contents">
<form th:action="@{/login}" method="POST" enctype="multipart/form-data">
		<br>
		<h1>ログイン</h1>
		
		<table>
			<tr>
		<td><p>ユーザーID   </p></td>
		<td><input type="text" class="textbox" placeholder="ユーザーID" name="userId"></td>
		
			</tr>
			<tr>
		
		<td><p>パスワード </p></td>
		<td><input type="password" class="textbox" placeholder="パスワード" name="userPassword"></td>
		</tr>
		
		</table>
		<a th:href="@{/saisettei}"><p>ユーザーID、パスワードをお忘れですか？</p></a>
		<button class="button">作成</button>
</form>

</div>
	
<div class="rightMenu">
	<h1>pepepepepe</h1>
</div>	
</div>

</body>
</html>