<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>participant List</title>
</head>
<body>

<h2>participant List</h2>

<ul>
    <!-- 参加者を表示 -->
    <li th:each="participant : ${participant}">
        <!-- 各ユーザーの情報を表示 -->
        <div>
            <span th:text="${participant.username}"></span>
        </div>
        <div>
            <img th:src="${participant.profileImageUrl}" alt="UserImage"/>
        </div>
        <div>
            <p th:text="${participant.comment}"></p>
        </div>
    </li>
</ul>

</body>
</html>
