<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:text="${errorText}"></div>
	<form th:action="@{/signup}" method="POST" enctype="multipart/form-data">
		user_name
		<input type="text" names="user_name">
		user_id
		<input type="text" names="user_id">
		user_tell
		<input type="text" names="user_tell">
		user_mail>
		<input type="text" names="user_mail">
		user_birthday
		<input type="text" names="user_birthday">
		user_gender
		<input type="text" names="user_gender">
		user_password
		<input type="password" class="textbox" placeholder="パスワード" name="user_password">
		<button class="button">作成</button>
</form>

</body>
</html>