<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/twitter.css">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div class="login-page">
  <div class="form">
	<form class="login-form" onsubmit = "return login()" th:action="@{/gitlogin}" method="POST">
      <input type="text" id="name" name="name"placeholder="ID">
      <input type="text" id="pass" name="pass"placeholder="pass">
      <button>login</button>
    </form>
  </div>
</div>
</body>
</html>