<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Follow List</title>
</head>
<body>

<h2>Follow List</h2>

<ul>
    <!-- フォロワー一覧を表示 -->
    <li th:each="follows : ${follow}">
        <!-- 各ユーザーの情報を表示 -->
        <div>
            <span th:text="${follows.username}"></span>
        </div>
        <div>
            <img th:src="${follows.profileImageUrl}" alt="UserImage"/>
        </div>
        <div>
            <p th:text="${follows.comment}"></p>
        </div>
    </li>
</ul>

</body>
</html>
