<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Notice List</title>
</head>
<body>
<!--通知一覧 -->
<h2>Notice List</h2>

<ul>
    <!-- フォロワー一覧を表示 -->
    <li th:each="notice : ${follow}">
        <!-- 各ユーザーの情報を表示 -->
        <div>
            <span th:text="${notice.username}"></span>
        </div>
        <div>
            <img th:src="${notice.profileImageUrl}" alt="UserImage"/>
        </div>
        <div>
            <p th:text="${notice.comment}"></p>
        </div>
    </li>
</ul>

</body>
</html>
