<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
      <link rel="stylesheet" type="text/css" href="/css/login.css" />
    <title>join</title>
 
</head>
<body>
	<div class="a"></div>
	<h3 class="a2"> </h3>
	<div class="main">
    <h1>新規会員登録</h1>
      <form action="/roomcreate" method="post">
        <label for="roomname">ルーム名:</label>
        <input type="text" id="roomname" name="roomname" required>

        <label for="venue">開催地:</label>
        <input type="text" id="venue" name="venue" required>

        <label for="datetime">開催日:</label>
        <input type="datetime-local" id="datetime" name="datetime" required>
        
        <label for="comment">コメント:</label>
        <input type="text" id="comment" name="comment" >
        
        <button type="submit">ルームを作成する</button>
    </form>
     </div>
</body>
</html>
